[Unit]
Description=Collects logs and forwards them
Requires=docker.socket
After=docker.socket
[Service]
ExecStartPre=-/usr/bin/docker kill "$(docker ps -q --filter=name=%p_)"
ExecStartPre=-/usr/bin/docker rm "$(docker ps -q --filter=name=%p_)"
ExecStartPre=-/usr/bin/mkdir -p /etc/fluent/
ExecStart=/bin/sh -c "\
    /usr/bin/docker run --rm \
      --name %p_$(uuidgen) \
      -v /etc/fluent/fluent.conf:/etc/fluent/fluent.conf \
      -v /var/log:/var/log \
      -v /etc/machine-id:/etc/machine-id:ro \
      -p 8080:8080 \
      -m 256m \
      -e AGGREGATOR_HOST='${aggregator_host}' \
      -e AGGREGATOR_USERNAME='${aggregator_username}' \
      -e AGGREGATOR_PASSWORD='${aggregator_password}' \
      -e LOG_CLUSTER='${log_cluster}' \
      -e LOG_HOSTNAME="$(hostname)" \
      -e LOG_MACHINEROLE='${log_machinerole}' \
      -e RUBY_GC_HEAP_OLDOBJECT_LIMIT_FACTOR=0.9 \
      ${fluentd_image_url}:${fluentd_image_tag}"
ExecStop=-/bin/bash -c 'docker stop -t 3 "$(docker ps -q --filter=name=%p_)"'
Restart=on-failure
RestartSec=60
[Install]
WantedBy=multi-user.target
