[Unit]
Description=Collects logs and forwards them
Requires=docker.socket
After=docker.socket

[Service]
ExecStartPre=-/usr/bin/docker kill "$(docker ps -q --filter=name=%p_)"
ExecStartPre=-/usr/bin/docker rm "$(docker ps -q --filter=name=%p_)"
ExecStartPre=-/usr/bin/mkdir -p /etc/promtail/
ExecStart=/bin/sh -c "\
    /usr/bin/docker run --rm \
      --name %p_$(uuidgen) \
      -v /etc/promtail/promtail-config.yaml:/etc/promtail/promtail-config.yaml \
      -v /var/log/journal:/var/log/journal \
      -p 9080:9080 \
      -m 512m \
      -e LOG_CLUSTER='${log_cluster}' \
      -e LOG_MACHINEROLE='${log_machinerole}' \
      -e LOKI_URL='${loki_url}' \
      -e LOKI_USERNAME='${loki_username}' \
      -e LOKI_PASSWORD='${loki_password}' \
      ${promtail_image_url}:${promtail_image_tag} \
      -config.file /etc/promtail/promtail-config.yaml \
      -config.expand-env=true"
ExecStop=-/bin/bash -c 'docker stop -t 3 "$(docker ps -q --filter=name=%p_)"'
Restart=on-failure
RestartSec=60

[Install]
WantedBy=multi-user.target
